<h3>Change password</h3>
<div class="row">
	<div class="col-2">
		<label class="w-forms">
			<span class="w-forms__title">Current</span>
			<input class="w-forms__input" [(ngModel)]="oldPass" type="text" name="old" placeholder="Type Password">
		</label>
	</div>
	<div class="col-2">
		<label class="w-forms">
			<span class="w-forms__title">New</span>
			<input class="w-forms__input" [(ngModel)]="newPass" type="text" name="new" placeholder="Type Password">
		</label>
	</div>
</div>

<button class="w-btn _primary" (click)="us.change_password(oldPass, newPass); close();">Change</button>
